* {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    color: #a09f9f;
}

.link:hover{
    color: white;
}

.home {
    display: flex;
    background: #201f1f;
    height: 800px;
    width: 2000px;
}

.caja {
    color: white;
    width: 20%;
    text-align: left;
    margin: 5px;
}

.c1{
    width: 80%;
    background-color: aqua;
    height: 200px;
}

.c2{
    width: 80%;
    background-color: yellow;
    height: 200px;
}

.c3{
    width: 80%;
    background-color: orange;
    height: 200px;
}

.c4{
    width: 80%;
    background-color: red;
    height: 200px;
}

.center {
    margin: auto;
    width: 70%;
    padding: 5px;
}

.titulo{
    margin: auto;
    text-align: center;
    padding-top: 100px;
    font-weight: bold;
}
.titulo2{
    margin: auto;
    text-align: center;
    padding-top: 30px;
    font-weight: bold;
}

.lista{ 
    padding-top: 30px;
    margin-left: 220px;
}

.margen{
    margin-left: 220px;
}

.datamascota{
    margin-left: 50px;
}

.volver{
    text-align: right;
    margin-right: 10px;
}